apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: telegram-sessions-pvc
  namespace: tgcatch
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: yc-network-hdd
